nav{
    height:55px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    cursor: pointer;
    font-size: 20px;
}
@media screen and (max-width:500px){
    .navbar{
        flex-direction: row;
    }
    
}




input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
}